{% extends 'index.html'%}
{%block content%}



<div class="about">
<p id='list'>
    This project has been made by <em>Harsh</em></br>
</p>

<p style="font-size: 29px;" > This WebApp uses:</p></br>
<ul style="font-size: 25px;">
   
    <li>HTML5, CSS3, Bootstap, JavaScript and Jquery for frontend;</li></br>
    <li>Python and Flask as Server side technologies;</li></br>
    <li>SQLite3 as the database;</li></br>
    <li>This application is optimized for most of the web browsers and has been checked on Firefos ESR and Chromium.
    </li></br>

</ul>

<p id="run">
    To use this app all you have to do is install flask & flask_sqlalchemy. Also do not forget to use virtualenv for this to work flawless.
</p>


</div>


{%endblock%}