{% extends 'index.html'%}

{%block content%}
<section class="cats">
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-alena-koval-982865.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blossom</h5>
          <p class="card-text">Meet Blossom, she is a wonderful cat who likes to be around with you all the time :)</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-dan-galvani-sommavilla-4601871.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leo</h5>
          <p class="card-text">Leo is fearless and adventurous.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-evg-culture-1170986.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Butter Scoth</h5>
          <p class="card-text">Meet Butter, she is so loving we mean just look at her ;-)</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-kelly-lacy-2928158.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bella</h5>
          <p class="card-text">Bella  has left all of us speechless, She is so awesome :O</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-kirsten-bühne-1521306.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blue</h5>
          <p class="card-text">Believe us she can talk with humans, she does it with us all the time :)</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-lina-kivaka-1741205.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Esther</h5>
          <p class="card-text">She is as cool as her name :D</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-peng-louis-1643457.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Valentine</h5>
          <p class="card-text"> Valentine, oh my Valentine, she is so hunky :-] </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../static/cat_image/pexels-pixabay-45201.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Garfield</h5>
          <p class="card-text">Let's just say that she can put Taylor to shame....</p>
        </div>
      </div>
    </div>
  </div>
</section>

  

{%endblock%}